In [ ]:
#1. Import library
import pandas as pd

In [ ]:
#Read_csv reads the csv according to a specific path.
#Ensure the seperator used in the arguments matches the seperator used in the csv file

#2. Read your csv into a dataframe called 'First_df'. Show the first ten rows of the dataframe.


path = "/content/healthy_lifestyle_city_2021.csv"
First_df = pd.read_csv(path, skiprows = 0, sep = ',')
First_df.head(10)

In [ ]:
#3. Sort the cities by decreasing Life Expectancy
#You can sort by multiples columns - df.sort_values(by=['column1', 'column2'])
#Note: sort_values sort in ascending order by default, thus the ascending parameter is necessary in this instance

First_df.sort_values(by='Life expectancy(years) (Country)', ascending=False)

In [ ]:
#4. Generate a 5 number summary (min, max, Q1, Q3, mean, median) of the Life Expectancy in the data

First_df['Life expectancy(years) (Country)'].describe()

In [ ]:
#iloc selects based on numerical position in the data. A negative number will start the count from the last row
# loc, a closely related function, is label-based and thus employs the value not the position to select e.g
#First_df.loc[:, ['City', 'Rank', 'Cost of a bottle of water(City)']]


#5. Show the city in the 34th row

First_df.iloc[34]

In [ ]:
#6. Show only the row of the city Barcelona
First_df.loc[First_df.City == 'Barcelona']

In [ ]:
#7. Which city ranked in the Top10 has a Happiness level less than 6?

First_df.loc[(First_df.Rank <= 10) & (First_df['Happiness levels(Country)'] < 6)]

In [ ]:
#8. Convert Sunshine hours(City) to the correct data type.

First_df['Sunshine hours(City)'].describe()
pd.to_numeric(First_df['Sunshine hours(City)'], errors ='coerce')

In [ ]:
#9. Replace null values in Sunshine Hrs with zero.

First_df['Sunshine hours(City)'].fillna(0)

In [ ]:
#10. Rename 'Cost of a monthly gym membership(City)' to 'Gym membership cost'

First_df.rename(columns={'Cost of a monthly gym membership(City)': 'Gym membership cost'})

In [ ]:
#With these basic data wrangling techniques, you're set to deal view and edit large dataframes files. 
#Try these without help. See how far you can get.
#Happy learning & Good luck!